/*
 * @Date: 2022-07-22 16:50:58
 * @LastEditors: Mr.qin
 * @LastEditTime: 2022-09-21 16:43:55
 * @Description: 入口css
 */
@import url('./base.css');
// @import url('./constant.less');
@import url('./common.less');

/* @import url("./ui.less"); */

body {
    margin: 0;

    background-color: #a61f21;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a,
span,
p {
    font-size: 16px;
}

i {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}